.cart{
    min-height: 100vh;
}

.itemCart{
    height: 350px;
    width: 50%;
    box-shadow: 0 0 7px #111;
    margin: 0 30px;
    margin-top: 30px;
}

.itemCart .itemCard{
    height: 200px;
    width: 100%;
}
.itemCard img{
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
}

.titulo{
    font-size: 30px;
}


