.itemContainer{
    display: grid;
    grid-template-columns:  auto auto auto;
}

.item{
    height: 350px;
    width: 75%;
    box-shadow: 0 0 7px #111;
    margin: 0 30px;
    margin-top: 30px;
}

.item .card{
    height: 200px;
    width: 100%;
}
.card img{
    margin: auto;
    display: block;
    height: 100px;
}
